body {
  font-family: "poppins";
}
.progress-bar {
  height: 10px;
  width: 100%;
  background: #d8d8d8;
  border-radius: 8px;
  position: relative;
}

.progress-bar::before {
  content: " ";
  position: absolute;
  left: 0;
  background-color: rgb(220, 46, 75);
  width: 20%;
  height: 100%;
  border-radius: 12px;
}

.content-body {
  margin-top: 58px;
  display: flex;
}
.left-section {
  flex: 1 0 0;
}

.right-section {
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}
.category {
  min-width: 148px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 150px;
  background: #f4f4f4;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
}

.border {
  border: 1px solid grey;
}

input[type="text"] {
  border-radius: 6px;
  padding: 8px;
  border-color: #dfdfdf;
  border-width: 1px;
  box-shadow: none;
}
.products {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.product {
  width: 180px;
  padding: 12px;
  background: #f4f4f4;
  border-radius: 12px;
}
.product-img {
  width: 180px;
  aspect-ratio: 1 / 1;
}

.product-title {
  font-weight: 600;
  margin: 2px 0px;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides any content that overflows the element's box */
  text-overflow: ellipsis;
}

.product-desc {
  font-size: 12px;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides any content that overflows the element's box */
  text-overflow: ellipsis;
  display: block;
}